{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<style>
    .contain {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%;
      }
    
      .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
</style>
<div class="container fluid" style="margin-top: 90px;">
    <div class="contain">
            <iframe class="responsive-iframe" src="https://www.google.com/maps/d/u/1/embed?mid=1KXCRPN_hMtOgroogZx0TccIMTUx_cxrm"></iframe>
    </div>
         
</div>
{% endblock %}