{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container fluid" style="margin-top: 130px; text-align: justify;">
    <h1>{% trans "Initiator" %}</h1>
    <p>The project is initiated by Ethiopian Space Science and Technology Institute to counteract pandemic disease Coronavirus (COVID-19). This project will address the following problems.</p>
    <ul>
        <li>Shortage of testing device and medical infrastructure to make mass testing in all places is difficult.</li>
        <li>Ethiopia government can't well predict to make intelligent decision which person has shown viral symptoms and has the probability to be infected according to that the government can't know which place have more exposure and take the desired action to prevent COVID-19</li>
    </ul>
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
{% endblock %}