<div id="container" class="container" style="margin-left: 10px; margin-right: 10px;">
    <!-- <h5 style="text-align: center;"><b>Symptoms with "High Fever" in different zones</b></h5> -->
    <div class="row">
        <div class="col-lg-12">
            <canvas id="three-symptoms" data-url="{% url 'three-symptoms' %}"></canvas><br><br>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
          <canvas id="three-symptoms2" data-url="{% url 'three-symptoms' %}"></canvas><br><br>
      </div>
      <div class="col-lg-6">
          <canvas id="three-symptoms3" data-url="{% url 'gender-3-symptom' %}"></canvas><br><br>
      </div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $feverChart = $("#three-symptoms");
      $.ajax({
        url: $feverChart.data("url"),
        success: function (data) {

          var ctx = $feverChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Number of Individuals',
                data: data.data,
                borderColor: "#8e5ea2",
                fill: false
              }]          
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    max: data.data.length,
                    min: 0,
                  }
                }]
              },
              responsive: true,
              legend: {
                position: 'bottom',
              },
              title: {
                display: true,
                text: 'Three symptoms Pie chart'
              }
            }
          });

        }
      });

    });
    
    $(function () {

        var $feverChart2 = $("#three-symptoms2");
        $.ajax({
          url: $feverChart2.data("url"),
          success: function (data) {
            
            var ctx2 = $feverChart2[0].getContext("2d");
            new Chart(ctx2, {
              type: 'bar',
              data: {
                labels: data.labels,
                datasets: [{
                  label: 'Number of Individuals',
                  data: data.data,
                  backgroundColor:
                  'rgba(72, 201, 176, 0.8)',
                }]          
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      max: data.data.length -2,
                      min: 0,
                    }
                  }]
                },
                responsive: true,
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                  text: 'Bar chart'
                }
              }
            });
  
          }
        });
  
      });

      $(function () {

        var $feverChart2 = $("#three-symptoms3");
        $.ajax({
          url: $feverChart2.data("url"),
          success: function (data) {
            
            var ctx2 = $feverChart2[0].getContext("2d");
            new Chart(ctx2, {
              type: 'pie',
              data: {
                labels: data.labels,
                datasets: [{
                  label: 'Number of Individuals',
                  data: data.data,
                  backgroundColor: [
                  'rgba(236, 112, 99, 0.8)',
                  'rgba(133, 193, 233, 0.8)',
                  'rgba(72, 201, 176, 0.8)',
                  'rgba(195, 155, 211, 0.8)',
                  'rgba(46, 204, 113, 0.8)',
                  'rgba(155, 89, 182, 0.8)',],
            borderColor: [
            'rgba(52, 152, 219, 0.8)',
            'rgba(170, 183, 184, 0.8)',
            'rgba(236, 112, 99, 0.8)',
            'rgba(133, 193, 233, 0.8)',
            'rgba(72, 201, 176, 0.8)',
            'rgba(195, 155, 211, 0.8)',
            'rgba(46, 204, 113, 0.8)',
            'rgba(155, 89, 182, 0.8)',
            ],
            borderWidth: 0
                }]          
              },
              options: {
                
                responsive: true,
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                  text: 'Three symptoms Line chart'
                }
              }
            });
  
          }
        });
  
      });
</script>
